.signup-form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 35vw;
    justify-content: center;
    align-items: center;
}
.formbutton {
    background-color: rgb(67, 239, 252);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 5px black;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    height: 30px;
    width: 120px;
    text-align: center;
    list-style: none;
}
.formbuttontwo {
    background-color: rgb(67, 239, 252);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 5px black;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    height: 30px;
    width: 200px;
    list-style: none;
    text-align: center;
}
.red {
    background-color: rgb(233, 74, 74);
}
.grey {
    background-color: grey;
}
.formbutton:hover {
    background-color: rgb(0, 255, 255);
}
.formbuttontwo:hover {
    background-color: rgb(0, 255, 255);
}
.errors {
    height: 30px;
    text-align: center;
    color: red;
    font-size: 12px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
