#manage-title{
    padding: 10px;
}
.spots-manager {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}
.spot-manage-card {
    display: flex;
    flex-direction: column;
    flex: 1 0 25%;
    padding: 0 10px;
    cursor: pointer;
    height: 220px;
    font-size: calc(6px + .6vh);
}
.manageformbutton {
    background-color: rgb(67, 239, 252);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 5px black;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    height: 20px;
    width: 70px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manage-create {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(215, 250, 250);
    border-radius: 15px;
    cursor: pointer;
}
.manage-create:hover {
    background-color: rgb(67, 239, 252);
    color:white;
}
