#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background: rgb(255, 232, 155);
    background: linear-gradient(0deg, rgb(255, 228, 177) 0%, rgb(160, 255, 250) 80%);
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
  }
