.spot-card{
    height: 250px;
    width: 350px;
    cursor: pointer;
}
.spot-image{
    height: 200px;
    width: 350px;
}
.spot-card{
    display: flex;
    flex-direction: column;
}
.spot-locationrating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
