.spot-card {
    flex: 0 0 25%;
    padding: 0 10px;
    cursor: pointer;
    height: 300px;
}

.spot-image {
    height: 250px;
    width: 350px;
}

.spot-locationrating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
